workflows/1-rss-news-summarizer.json
{
  "name": "RSS News Summarizer",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://feeds.feedburner.com/TechCrunch"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6afa3581-4226-4c83-b0c9-9a03b2c13494",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "abd6d92d-83fb-4332-9fd9-9b551e3e0cb9",
              "leftValue": "={{ $json.title }}",
              "rightValue": "AI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0c77b168-864a-4b45-af52-635cb23462e1",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Tech",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "3bc8df87-1078-4809-a38a-401a082dff77",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "74467dff-885d-4b50-a018-cd4f01370552",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.groqBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        0
      ],
      "id": "22e84318-7481-48a6-b96a-821bc5f7adb6",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const title = $('RSS Feed Trigger').item.json.title || 'Tech Article';\n\nreturn [{\n  json: {\n    groqBody: JSON.stringify({\n      model: \"llama-3.3-70b-versatile\",\n      messages: [{\n        role: \"user\",\n        content: \"You are a tech news summarizer. Summarize this article in exactly 3 bullet points. Be concise.\\n\\nTitle: \" + title + \"\\n\\nReturn only 3 bullet points.\"\n      }]\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "28230888-cdfc-42f1-805d-6790c033bb4a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst content = data.choices[0].message.content;\nconst lines = content.split('\\n').filter(l => l.trim() !== '');\n\nreturn lines.map((line, i) => ({\n  json: {\n    bullet_no: i + 1,\n    summary: line.replace(/^[*•\\-]\\s*/, '').trim(),\n    source: \"TechCrunch\",\n    generated_at: new Date().toISOString()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "915078f4-2b0c-47e9-91f4-9662eadbab37",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "165feabb-76e1-4bcc-86f0-357430b205b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76bf66f8341410705bc85f42e005a5d87e90653241f66abd109f22b85c127394"
  },
  "nodeGroups": [],
  "id": "fjxyGd5wJXVuM8pz",
  "tags": []
}
